@import "{}/imports/client/styles/_variables.sass"

@-webkit-viewport
  width: device-width
@-moz-viewport
  width: device-width
@-ms-viewport
  width: device-width
@-o-viewport
  width: device-width
@viewport
  width: device-width

*
  scroll-behavior: smooth
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline
  -ms-overflow-style: none

article, aside, footer, header, hgroup, menu, nav, section
  display: block

body
  background-color: $white
  color: $black
  scroll-behavior: smooth
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%
  -webkit-tap-highlight-color: transparent
  -webkit-overflow-scrolling: touch
  overflow-scrolling: touch

  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased

  -webkit-font-smooth: always
  -moz-font-smooth: always
  -ms-font-smooth: always
  -o-font-smooth: always
  font-smooth: always

  -webkit-text-rendering: optimizeLegibility
  -moz-text-rendering: optimizeLegibility
  -ms-text-rendering: optimizeLegibility
  -o-text-rendering: optimizeLegibility
  text-rendering: optimizeLegibility

  -webkit-overflow-style: -webkit-autohiding-scrollbar
  -moz-overflow-style: -moz-autohiding-scrollbar
  -ms-overflow-style: -ms-autohiding-scrollbar
  -o-overflow-style: -o-autohiding-scrollbar
  overflow-style: autohiding-scrollbar

  line-height: 1.5
  cursor: default

html
  font:
    style: normal
    size: 14px
    weight: 400
    family: Inter, sans-serif
  background-color: $white
  @media (min-width: $mobile-break)
    font-size: 16px

img
  border: 0
  display: block
  height: auto
  max-width: 100%

a
  color: $royal
  cursor: pointer
  text-decoration: underline
  @media (min-width: $mobile-break)
    &:hover
      color: $midroyal
      text-decoration: none

main.container
  min-height: 70vh

.invisible
  visibility: hidden

.outOfView
  transform: translate3d(3000px, 0, 0)

.loading-spinner
  display: inline-block
  position: relative
  width: 80px
  height: 80px
  div
    animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    transform-origin: 40px 40px
    &:after
      content: " "
      display: block
      position: absolute
      width: 7px
      height: 7px
      border-radius: 50%
      background: $black
      margin: -4px 0 0 -4px
    &:nth-child(1)
      animation-delay: -0.036s
      &:after
        top: 63px
        left: 63px
    &:nth-child(2) 
      animation-delay: -0.072s
      &:after
        top: 68px
        left: 56px
    &:nth-child(3)
      animation-delay: -0.108s
      &:after
        top: 71px
        left: 48px
    &:nth-child(4)
      animation-delay: -0.144s
      &:after
        top: 72px
        left: 40px
    &:nth-child(5)
      animation-delay: -0.18s
      &:after
        top: 71px
        left: 32px
    &:nth-child(6)
      animation-delay: -0.216s
      &:after
        top: 68px
        left: 24px
    &:nth-child(7)
      animation-delay: -0.252s
      &:after
        top: 63px
        left: 17px
    &:nth-child(8)
      animation-delay: -0.288s
      &:after
        top: 56px
        left: 12px

@keyframes loading-spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.loadingElement
  position: absolute
  top: 0
  left: 0
  min-height: 100vh
  min-width: 100vw
  display: flex
  align-items: center
  z-index: 1
  justify-content: center
