template(name="searchForm")
  form.row.well-container(data-search-form)
    .col.colspan-4
      input.form-control.form-control-lg(autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="search" placeholder="Search: skills:js category:frontend availability:freelance location:country:city" maxlength="256" value="#{getSearch}")
    div(class="{{#if isSmall}}well-container text-center{{else}}col{{/if}}")
      button.btn.btn-primary.nowrap(class="{{#if isSmall}}btn-block{{else}}btn-lg btn-square{{/if}}" type="submit" title="search") 
        if isLoading
          | searching...&nbsp;<i class="fa fa-spinner fa-pulse"></i>
        else
          | search

  each searchResults
    if compare searchType '===' 'jobs'
      +jobPreview
    else
      +profilePreview
  else
    .text-muted Search has no results, try to change search query

  if searchResults.length
    .well-container.text-center
      if hasNoMore
        .text-muted You reached the end of the list
      else
        button.btn.btn-black(type="button" data-load-more) show more
