:root {
  --black: #000000;
  --black70: #333333;
  --white: #FFFFFF;

  --lightgrey: #F9F9F9;
  --grey: #EEEEEE;
  --midgrey: #E0E0E0;
  --grey70: #C4C4C4;
  --darkgrey: #6C757D;

  --red: #FF585D;
  --lightred: #FFD1D3;
  --orange: #FFB259;

  --lightyellow: #FAF9D0;
  --yellow: #F0EC74;

  --green: #00C08B;
  --lightgreen: #CEFDF0;

  --blue: #00C1DE;
  --midblue: #0095AB;

  --royal05: #E5F4FF;
  --royal20: #B3DDFF;
  --lightroyal: #35A5FF;
  --royal: #0072CE;
  --midroyal: #00569B;
}

body.dark {
  --black: #adbac7;
  --black70: #22272e;
  --white: #22272e;

  --grey: #444c56;
  --midgrey: #CDD9E5;
  --darkgrey: #373e47;

//   --red: #FF585D;
//   --orange: #FFB259;

//   --lightyellow: #FAF9D0;
//   --yellow: #F0EC74;

//   --green: #00C08B;

//   --blue: #00C1DE;
//   --midblue: #0095AB;

//   --lightroyal: #35A5FF;
//   --royal: #0072CE;
//   --midroyal: #00569B;
}

$black: var(--black);
$black70: var(--black70);
$white: var(--white);

$lightgrey: var(--lightgrey);
$grey: var(--grey);
$midgrey: var(--midgrey);
$grey70: var(--grey70);
$darkgrey: var(--darkgrey);

$red: var(--red);
$lightred: var(--lightred);
$orange: var(--orange);

$lightyellow: var(--lightyellow);
$yellow: var(--yellow);

$green: var(--green);
$lightgreen: var(--lightgreen);

$blue: var(--blue);
$midblue: var(--midblue);

$royal05: var(--royal05);
$royal20: var(--royal20);
$lightroyal: var(--lightroyal);
$royal: var(--royal);
$midroyal: var(--midroyal);

$mobile-break: 768px;
$tablet-break: 1200px;