@import "{}/imports/client/styles/_variables.sass"

::selection
  background-color: $yellow
  color: $black
  text-shadow: none;

::-webkit-scrollbar
  display: none

::scrollbar
  display: none

::active, ::visited
  outline: none

body
  outline: none
a, input, button, select, label, textarea
  outline: none
  &:active, &:focus, &:visited
    outline: none
p
  margin: 0 0 1rem 0
  line-height: 1.35
b
  font-weight: 600
strong
  font-weight: 900
select
  cursor: pointer

.container
  padding-left: 20px
  padding-right: 20px
  @media (min-width: $mobile-break)
    padding-left: 40px
    padding-right: 40px

.row
  width: 100%
  @media (min-width: $mobile-break)
    display: flex
    flex-direction: row
    flex-wrap: wrap

.col
  @media (min-width: $mobile-break)
    display: flex
    flex-direction: column
    flex-basis: 100%
    flex: 1
    margin: 0 1.2rem
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
    &.colspan-2
      flex: 2
    &.colspan-3
      flex: 3
    &.colspan-4
      flex: 4
    &.colspan-5
      flex: 5
    &.colspan-6
      flex: 6

.hero-text
  font-size: 2rem
  font-weight: 400
  line-height: 2.4rem
  margin-bottom: 1rem

.centered
  align-items: center
  justify-content: center

.flex-middle
  justify-content: center

.list-unstyled
  list-style: none
  margin: 10px 0px
  padding: 0px

.align-right
  text-align: right

.btn
  position: relative
  display: inline-block
  vertical-align: top
  padding: 10px 20px
  border-radius: 50px
  font-weight: 900
  line-height: normal
  font-size: 1rem
  background-color: $blue
  color: $white
  text-align: center
  text-decoration: none
  cursor: pointer
  border: 0
  user-select: none
  &.disabled
    cursor: not-allowed
    pointer-events: none
    opacity: 0.5
  &.btn-lg
    padding: 15px 25px
    font-size: 1.2rem
    line-height: 1.5rem
  &.btn-grey
    background-color: $grey
    color: $black
  &.btn-black
    background-color: $black
    &.btn-outlined
      background-color: $white
      color: $black
      border: 2px solid $black
      @media (min-width: $mobile-break)
        border: none
        &:hover
          color: $white
  &.btn-danger
    background-color: $red
    &.btn-outlined
      background-color: $white
      color: $red
      border: 2px solid $red
      @media (min-width: $mobile-break)
        &:hover
          color: $white
          background-color: $red
  &.btn-primary
    background-color: $royal
  &.btn-success
    background-color: $green
  @media (min-width: $mobile-break)
    transition: .2s
    &:hover
      background-color: $midblue
      transform: scale(1.05)
      color: $white
    &.btn-black:hover
      background-color: $grey70
      color: $black
    &.btn-grey:hover
      background-color: $darkgrey
      color: $black
    &.btn-primary:hover
      background-color: $royal20
      color: $royal
    &.btn-danger:hover
      background-color: $lightred
      color: $red
    &.btn-success:hover
      color: $green
      background-color: $lightgreen

.mono
  font-family: 'Source Code Pro'

.well, .form
  padding: 25px
  border-radius: 12px
  max-width: 95vw;
  width: 100%;
  margin-bottom: 3rem
  @media (min-width: $mobile-break)
    width: 65vw
  @media (min-width: $tablet-break)
    width: 40vw
  &.well-auto, &.form-auto
    width: auto
    max-width: 95vw
    @media (min-width: $mobile-break)
      width: auto
      max-width: 65vw
    @media (min-width: $tablet-break)
      width: auto
      max-width: 40vw

.well
  background-color: $grey

.form
  // border: 4px solid $royal05
  background-color: $lightgrey
.form-error
  color: $red
.form-required
  color: $red
  font-weight: 900
.form-inputs
  margin-bottom: 2.5rem
.form-label
  display: inline-block
  font-weight: 600
  margin-bottom: 0.5rem
.form-hint
  margin-top: 0.25rem
  font-size: 0.875em
  color: $darkgrey
.form-select, .form-control
  display: block
  width: 100%;
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: $black
  background-color: $grey
  // border: 3px solid $grey
  border: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border-radius: 0.75rem
  &:active, &:focus
    background-color: $midgrey
    // border-color: $royal05
.form-select
  padding: .5rem 2.25rem .5rem 1rem
  background-image: url('/images/chevron-down.svg')
  background-repeat: no-repeat
  background-position: right .75rem center
  background-size: 16px 12px
.form-control
  padding: .5rem 1rem
  background-clip: padding-box
  &.hasError
    border-color: $red
  &::placeholder
    color: $darkgrey
  &:focus::placeholder, &:active::placeholder
    color: transparent

.main-user-picture
  width: auto
  max-width: 300px
  max-height: 300px
  border: 4px solid $royal
  border-radius: 200px
  margin-bottom: 1rem
.h1
  font-size: 3rem
  line-height: 1
  font-weight: 900
.h2
  font-size: 2.28rem
  line-height: 1.25
  font-weight: 900
.h3
  font-size: 1.72rem
  line-height: 1.25
  font-weight: 900
.h4
  font-size: 1.7rem
  line-height: 1.25
  font-weight: 600
.h5
  font-size: 1.42rem
  font-weight: 600

.text-success
  color: $green

.text-warn
  color: $orange

.text-black
  color: $black