template(name="index")
  main.container.row: .col.centered
    .row.hero-block.hero-container: .col.centered
      h2
        span.h2.centered METABUIDL
      h2
        span.h2.centered Global Hackathon       
      h1
        span.h1 Team Matching

    .row.hero-container
      .col: .well.well-auto
        h2.h5 Find hackathon project to join
        p Discover projects where modern tasks solved using Open Web
        a.btn.btn-block.btn-primary.btn-hero(href="{{pathFor 'searchProjects'}}") Teams
      .col: .well.well-auto 
        h2.h5 Teams are looking for devs
        p Discover available positions and join the team
        a.btn.btn-block.btn-success.btn-hero(href="{{pathFor 'searchJobs'}}") Positions
      .col: .well.well-auto
        h2.h5 Find a teammate and start building
        p Discover develepors who wish to join your team and build together!
        a.btn.btn-block.btn-black.btn-hero(href="{{pathFor 'searchCandidates'}}") Buidlers


    .row.hero-block.hero-container: .col.centered
      h2
        span.h2.centered NEAR METABUIDL

      h3
        span.h3 $1,000,000 in prizes & funding
      
      a.register-button.btn.btn-info.btn-hero(href="https://metabuidl.splashthat.com/") Register on Hackathon
