template(name="index")
  main.container.row: .col.centered
    .row.hero-block.hero-container: .col.centered
      h2
        span.h2.centered METABUIDL
      h2
        span.h2.centered Global Hackathon       
      h1
        span.h1 Team Matching

    .row.hero-container
      .col: .well.well-auto 
        h5.h5 Teams looking for developers
        p Discover available positions and join a team!
        a.btn.btn-block.btn-success.btn-hero(href="{{pathFor 'searchJobs'}}") Open positions
      .col: .well.well-auto
        h5.h5 Developers looking for a team
        p Find a teammate and start building!
        a.btn.btn-block.btn-black.btn-hero(href="{{pathFor 'searchCandidates'}}") Buidlers & Creators

    .row.hero-block.hero-container.tokens: .col.centered
        h5.h5 Get a unique Hackathon NFT
        p Register your profile in this Team Matching service, and submit your project for Hackathon to get unique&nbsp;NFT from MetaBUIDL

    .row.hero-block.hero-container.metabuidl: .col.centered
      h2
        span.h1.centered NEAR METABUIDL

      h3
        span.h3 $1,000,000 in prizes & funding
      
      a.register-button.btn.btn-info.btn-hero(href="https://metabuidl.splashthat.com/") Register on Hackathon

    
    .row.hero-block.hero-container.contributors
      .col.centered
        h5.h5 Check hackathon projects to join
        p Discover projects where modern tasks are solved using Open Web
        a.btn.btn-block.btn-black.btn-hero(href="{{pathFor 'searchProjects'}}") Hackathon Teams
  

  
